body, html {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  color: #fff;
}

.footer {
  height: auto;
  margin: 0;
  padding-top: 40px;
  background-color: #86B7E3;
}

.copyright {
  background-color: grey;
  width: 100%;
  padding: 5px;
}

.footer-l {
  display: flex;
  justify-content: space-between;
}

.footer-links, .footer-contacts, .footer-map {
  padding: 10px;
  align-items: left;
  display: grid;
  margin-bottom: 35px;
}

.search-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffc125;
}

.footer-links a, .footer-contacts a, .footer-map a {
  margin-bottom: 5px;
  text-decoration: none;
  color: #fff;
}

.footer-links a:hover, .footer-contacts a:hover, .footer-map a:hover {
  margin-bottom: 5px;
  text-decoration: none;
  color: green;
}

.search-content-item {
  color: black;
  padding: 20px 140px;
}

.search-item-text {
  color: grey;
}

.header-links {
  display: flex;
  justify-content: flex-end;
}

.header-links .header-langs a {
  color: #959595;
  margin: 0 10px;
}

.header-links .header-langs a.active {
  color: #373737;
}

.header-links li {
  padding: 0 10px;
  margin: auto 0;
}

.header-links li a {
  color: #207476;
  font-size: 14px;
  font-weight: 700;
}

.about {
  padding-top: 50px;
  color: #000;
  padding-bottom: 150px;
  background-color: #e8e8e8;
}

.about-header {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
}

.about-deckription {
  text-align: center;
}

.tags-header {
  font-size: 25px;
  text-align: center;
  padding-bottom: 30px;
}

.tags-header p {
  font-size: 25px;
  text-align: center;
  padding-bottom: 30px;
  color: #000;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  height: 80px;
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  background-image: #fff;
}

.header-text {
  margin: auto 0;
  width: 400px;
  text-align: right;
}

.header-logo {
  margin: auto 0;
}

.header-logo img {
  width: 180px;
}

.information-small-items img {
  width: 70px;
}

.information-small-items p {
  color: #ffc125;
}

.information-small-items {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  margin: 10px;
  margin-bottom: 40px;
  border-radius: 15px;
  border: 1px solid #ffc125;
  height: 200px;
  width: 165px;
  text-transform: uppercase;
}

.information-small-items:hover {
  background-color: #1b4c4d;
  transition: all 0.3s;
  cursor: pointer;
}

.information-small-items:nth-child(4) img {
  width: 50px
}

.information-small-items:nth-child(3) img {
  width: 65px
}

.information-small-items:nth-child(1) {
  padding-top: 56px;
}

.information-small-items:nth-child(2) {
  padding-top: 56px;
}

.information-categories {
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.information-header {
  margin-bottom: 20px;
  text-align: center;
  color: #000;
}

.information-header p {
  width: 100%;
}

.information-header h1 {
  font-size: 50px;
  margin: 0;
  font-weight: light;
  font-family: 'Roboto Slab', serif;
}

.information-item-icon {
  width: 100%;
}

.information-item-icon img {
  width: 150px;
  margin: 0 40%;
  margin-top: 50px;
}

.information-item {
  width: 100%;
  margin: 0;
  margin-bottom: 50px;
}

.information-categories {
  width: 100%;
  justify-content: center;
}

.search-input input {
  height: 29px;
  font-size: 30px;
  width: 200px;
  border-radius: 30px;
  padding-left: 15px;
  border: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  cursor: auto;
  color: #000;
}

.search-input {
  margin: auto 0;
}

.btn {
  width: 70px;
  height: 31px;
  border: none;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  cursor: pointer;
}

.footer {
  height: auto;
  background: #1b4c4d;
}

.search-content {
  height: 500px;
  max-height: auto;
}

.tags {
  margin: 0;
  height: auto;
  padding-top: 30px;
  padding-bottom: 100px;
  margin-bottom: 80px;
  background-color: #e8e8e8;
}

.tags .row {
  padding-left: 70px
}

.tags-item {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
  height: 50px;
  background-color: #86b7b8;
  border-radius: 30px;
  text-align: center;
  margin-right: 10px;
}

.tags-item:nth-child(2n+1) {
  background-color: #1b4c4d;
}

.tags-item:nth-child(3n+1) {
  background-color: #529fa1;
}

.tags-item:hover {
  background-color: #86B7E3;
  cursor: pointer;
}

.home-search {
  font-family: 'Open Sans', sans-serif;
  display: table;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 150px
}

.home-search p {
  padding-left: 30px;
  font-size: 20px
}

.home-search-wrapp {
  background-image: url(banner.png);
  background-position: center center;
  background-size: cover;
  color: #fff;
}

.home-search input {
  padding: 6px;
  width: 550px;
  height: 51px;
  font-size: 16px;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: none;
  background-color: #e8e8e8;
  color: #000;
}

.home-search button {
  color: transparent;
  width: 70px;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 63px;
  background-color: #207476;
  background-image: url('search.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40%;
}

@media only screen and (max-width:1020px) {
  .information-small-items {
    margin: 5px;
    width: 400px
  }
  .information-categories {
    display: grid;
  }
}

@media only screen and (max-width:810px) {
  .header {
    padding: 0 10px
  }
  .tags .row {
    padding: 17px;
    padding-left: 70px
  }
}

@media only screen and (max-width:480px) {
  .information-small-items {
    margin: 15px;
    width: 300px;
  }
  .information-header p {
    padding: 10px;
    width: 100%;
  }
  .footer-l {
    display: grid;
    justify-content: center;
  }
  .footer-map {
    text-align: center;
  }
  .footer-links {
    text-align: center;
    margin-left: 0;
  }
}

.header button {
  display: none;
  border: none;
  background-color: transparent;
  height: 50px;
  margin: auto 0;
}

@media only screen and (max-width: 650px) {
  .home-search input {
    width: 450px;
  }
}

@media only screen and (max-width: 560px) {
  .header-links {
    display: none;
  }
  .header button {
    display: unset;
  }
}

@media only screen and (max-width: 535px) {
  .home-search input {
    width: 400px;
  }
}

@media only screen and (max-width: 490px) {
  .home-search input {
    width: 350px;
  }
}

@media only screen and (max-width: 450px) {
  .home-search input {
    width: 300px;
  }
}

input {
  outline: none;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 420px) {
  .home-search input {
    width: 250px;
  }
}

@media only screen and (max-width: 360px) {
  .information-header p {
    margin: 0;
    padding: 30px;
    width: 300px;
  }
}

@media only screen and (max-width: 330px) {
  .home-search input {
    width: 200px;
  }
}
